[Unit]
Description=Custom boot systemd service.

[Service]
Type=simple
ExecStart=/bin/bash /usr/bin/microROS_agent_service.sh

[Install]
WantedBy=multi-user.target
